// logo
.dp-logo {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  &--small {
    width: 140px;
    height: 20px;
  }
  &--medium {
    width: 280px;
    height: 40px;
  }
  &--big {
    width: 560px;
    height: 80px;
  }
  &--white {
    background-image: url('../images/logo-white.png');
  }
  &--blue {
    background-image: url('../images/logo-blue.png');
  }
  &--grey {
    background-image: url('../images/logo-grey.png');
  }
}
// end logo

// fonts
.dp-txt {
  margin: 0;
  padding: 0;
  // text-transform: lowercase;
  // sizes
  &--lg {
    font-family: $widebook;
    font-weight: 800;
    font-size: 6.4rem;
    line-height: 6rem;
  }
  &--md {
    font-family: $widebook;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 3.8rem;
  }
  &--sm {
    font-family: $opensans;
    font-weight: 200;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  &--xs {
    font-family: $opensans;
    font-weight: 100;
    font-size: 0.8rem;
    line-height: 1rem;
  }
  &--header {
    font-family: $widebook;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
  &--subheader {
    font-family: $widebook;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.9rem;
  }
  // end sizes

  // colors
  &--white {
    color: $dp-white;
  }
  &--grey {
    color: $dp-grey;
  }
  &--darkgrey {
    color: $dp-darkgrey;
  }
  &--blue {
    color: $dp-blue;
  }
  // end colors
}
.dp-line--right {
  padding-right: 0.8rem;
  &--white {
    border-right: 0.8rem solid $dp-white;
  }
  &--darkgrey {
    border-right: 0.8rem solid $dp-darkgrey;
  }
  &--blue {
    border-right: 0.8rem solid $dp-blue;
  }
}
.dp-line--left {
  padding-left: 0.8rem;
  &--white {
    border-left: 0.8rem solid $dp-white;
  }
  &--darkgrey {
    border-left: 0.8rem solid $dp-darkgrey;
  }
  &--blue {
    border-left: 0.8rem solid $dp-blue;
  }
}
.dp-quote {
  position: relative;
  svg {
    position: absolute;
    margin-left: -4rem;
    width: 3rem;
    height: 3rem;
  }
  &--left {
    padding-left: 4rem;
  }
  &--right {
    padding-right: 4rem;
  }
  &--author {
    width: 100%;
    text-align: right;
    padding: 2rem 0;
  }
}

// end fonts

// lists
.dp-list {
  list-style: none;
  padding: 0;
  li {
    padding: 0;
  }
  &--horizontal {
    display: flex;
  }
}
// end lists

// buttons
.dp-btn {
  cursor: pointer;
  &--scroll {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 100%;
    left: 50%;
    margin-top: -100px;
    margin-left: -30px;
    z-index: 20;
    opacity: 1;
    transition: opacity 0.3s ease-out;
    &--pulse {
      z-index: 0;
    }
  }
  &--close {
    width: 25px;
    height: 25px;
    opacity: 0.8;
    z-index: 250;
  }
  &--menu {
    width: 32px;
    height: 32px;
    z-index: 300;
  }
  &--map {
    width: 50px;
    height: 50px;
    &--pulse {
      margin-top: -50px !important;
    }
  }
  &--phone {
    width: 50px;
    height: 50px;
  }
  &--envelop {
    width: 50px;
    height: 50px;
  }
}
// end buttons

// icons
svg {
  width: 100%;
  height: 100%;
}
.dp-svg-blue {
  fill: $dp-blue;
}
.dp-svg-grey {
  fill: $dp-grey;
}
.dp-svg-darkgrey {
  fill: $dp-darkgrey;
}
.dp-svg-white {
  fill: $dp-white;
}
// end icons

// carousel
.dp-carousel {
  position: relative;
  width: 100vw;
  .carousel-nav {
    position: absolute;
    width: 15rem;
    left: 50%;
    top: 100%;
    margin-left: -7.5rem;
    margin-top: -27rem;
    display: flex;
    z-index: 100;
    svg {
      transition: all 0.3s ease-out;
      width: 2.5rem;
      height: auto;
      margin: auto;
    }
    .carousel-btn--pulse {
      display: none;
    }
  }
  .carousel-wrapper {
    display: flex;
    // width: 500%;
    transform: translateX(0vw);
    transition: all 0.3s ease-out;
    .carousel-el {
      width: 100vw;
      .el-img {
        height: 250px;
        overflow: hidden;
        img {
          width: 100vw;
          height: auto;
          opacity: 0.5;
          transition: all 0.5s ease-out;
        }
      }
      .el-data {
        width: 90%;
        margin: auto;
        padding: 8rem 2rem 0 2rem;
        font-family: $widebook;
        opacity: 0;
        transition: all 0.5s ease-out;
        li {
          padding-bottom: 0.5rem;
          display: flex;
          .key {
            width: 12rem;
            text-align: right;
            padding: 0.2rem 0.5rem 0.2rem 0;
            background-color: $dp-blue;
            font-weight: 400;
            color: $dp-white;
          }
          .value {
            width: 100%;
            padding-left: 0.5rem;
          }
        }
      }
    }
    .focus {
      .el-img {
        img {
          opacity: 1;
        }
      }
      .el-data {
        opacity: 1;
      }
    }
  }
}
@media screen and ($tablet) {
  .dp-carousel {
    .carousel-nav {
      margin-top: -23.5rem;
    }
    .carousel-wrapper {
      display: -webkit-box;
      .carousel-el {
        .el-img {
          height: 500px;
          img {
            width: 100%;
            height: auto;
          }
        }
        .el-data {
          width: 70%;
          padding-top: 9rem;
        }
      }
    }
  }
}

@media screen and ($desktop) {
  .dp-carousel {
    position: relative;
    .carousel-nav {
      position: absolute;
      width: 65%;
      left: 17.5%;
      top: 100%;
      margin-left: 0;
      margin-top: -19rem;
      display: block;
      z-index: 200;
      svg {
        transition: all 0.3s ease-out;
        width: 2.5rem;
        height: auto;
        margin: 0;
      }
      .carousel-btn--left {
        float: left;
      }
      .carousel-btn--right {
        float: right;
      }
      .carousel-btn--pulse {
        display: block;
        position: absolute;
        left: 100%;
        margin-left: -2.5rem;
        z-index: 0;
      }
      .carousel-btn--pulse:nth-of-type(2) {
        left: 0;
        margin-left: 0;
      }
    }
    .carousel-wrapper {
      transform: translateX(0vw);
      transition: all 0.3s ease-out;
      margin-left: 25%;
      .carousel-el {
        width: 50vw;
        transition: all 0.2s ease-out;
        .el-img {
          height: 350px;
          img {
            width: 80%;
            height: auto;
            padding-left: 10%;
            margin-top: -10%;
          }
        }
        .el-data {
          width: 80%;
          margin: auto;
          padding: 5rem 2rem 0 2rem;
          font-family: $widebook;
          opacity: 0;
          transition: all 0.5s ease-out;
        }
      }
      .focus {
        transform: translateY(40px);
        padding: 0;
        .el-img {
          height: 350px;
          img {
            padding: 0;
            opacity: 1;
            width: 100%;
            height: auto;
          }
        }
        .el-data {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and ($largeDesktop) {
  .dp-carousel {
    position: relative;
    .carousel-nav {
      position: absolute;
      width: 60%;
      left: 20%;
      top: 100%;
      margin-left: 0;
      margin-top: -19rem;
      display: block;
      z-index: 200;
      svg {
        transition: all 0.3s ease-out;
        width: 2.5rem;
        height: auto;
        margin: 0;
      }
      .carousel-btn--left {
        float: left;
      }
      .carousel-btn--right {
        float: right;
      }
    }
    .carousel-wrapper {
      .carousel-el {
        .el-data {
          padding: 7rem 2rem 0 2rem;
        }
      }
      .focus {
        transform: translateY(40px);
        padding: 0;
        .el-img {
          height: 450px;
          img {
            padding: 0;
            opacity: 1;
            width: 100%;
            height: auto;
          }
        }
        .el-data {
          opacity: 1;
        }
      }
    }
  }
}
// end carousel

// lightbox

.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 100;
  background-color: $dp-darkgrey;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.dp-lightbox {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  .image {
    width: 90%;
    height: 50%;
    margin: 25% 5% 10% 5%;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;
      margin-left: -15%;
    }
  }
  .nav {
    position: relative;
    width: 50vw;
    height: 3rem;
    margin-left: 25vw;
    margin-top: 6rem;
    .nav-btn {
      position: absolute;
      width: 4rem;
      height: 4rem;
      &--right {
        left: 100%;
        margin-left: -4rem;
      }
    }
  }
  @media screen and ($desktop) {
    .image {
      background-color: $dp-darkgrey;
      width: 60%;
      height: 70%;
      margin: 4.5% 20% 3.5% 20%;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        margin-left: 0;
        // margin-top: -10%;
      }
    }
    .nav {
      margin-top: 0;
      .nav-btn {
        width: 3rem;
        height: 3rem;
        &--right {
          margin-left: -3rem;
        }
      }
    }
  }
}
// end lightbox

// call to action
.dp-contact {
  .dp-cta {
    width: 20rem;
    height: 20rem;
    margin: 3rem auto 0 auto;
    // border: 1px solid $dp-darkgrey;
    .cta-text {
      padding: 5rem 0;
      text-align: center;
      h3 {
        font-size: 1.6rem;
        line-height: 1.9rem;
      }
    }
  }
}
.dp-single {
  .dp-cta {
    width: 19rem;
    // height: 20rem;
    margin: 3rem auto 0 auto;
    // border: 1px solid $dp-darkgrey;
  }
}
.cta-btn {
  width: 80%;
  // height: 10rem;
  cursor: pointer;
  margin: 0 auto;
  .wrapper {
    border: .3rem solid $dp-blue;
    position: relative;
    overflow: hidden;
    height: 4rem;
    &--hole {
      z-index: 50;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      // height: 100%;
      font-style: italic;
      padding: 1rem 0;
      text-align: center;
      color: $dp-white;
      transition: all 0.4s cubic-bezier(.87,0,.13,1.01);
    }
  }
  .wrapper::before {
    transition: all 0.4s cubic-bezier(.87,0,.13,1.01);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: $dp-blue;
    z-index: 0;
  }
  .wrapper::after {
    transition: all 0.4s cubic-bezier(.87,0,.13,1.01);
    content: "";
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: $dp-blue;
    z-index: 0;
  }
}
.cta-btn:hover {
  .wrapper {
    &--hole {
      color: $dp-blue;
    }
  }
  .wrapper::before {
    top: -2rem;
  }
  .wrapper::after {
    top: 4rem;
  }
}


// end call to action

// breadcrumb
.dp-breadcrumb {
  text-align: center;
  width: 100%;
  padding: 15px 0;
  h3 {
    padding-bottom: 10px;
    border-bottom: 0.1rem solid $dp-white;
    font-weight: 600;
    width: 90%;
    margin: auto;
  }
  ul {
    margin-top: 15px;
    li:first-of-type {
      padding-top: 1.2rem;
    }
    li {
      height: 1.2rem;
      padding: 0.2rem 0;
      opacity: 0.6;
      transition: all 0.2s ease-out;
    }
    li:hover {
      opacity: 1;
    }
  }
  .breadcrumb-data {
    li {
      cursor: default;
    }
    li:nth-of-type(odd) {
      font-weight: 600;
      padding-bottom: 0;
      opacity: 1;
    }
    li:nth-of-type(even) {
      padding-top: 0;
    }
  }
}
// end breadcrumb
