// logo
.dp-logo {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  &--small {
    width: 140px;
    height: 20px;
  }
  &--white {
    background-image: url('../images/logo-white.png');
  }
  &--blue {
    background-image: url('../images/logo-blue.png');
  }
  &--grey {
    background-image: url('../images/logo-grey.png');
  }
}
// end logo

// fonts
.dp-txt {
  margin: 0;
  padding: 0;
  // sizes
  &--lg {
    font-family: $widebook;
    font-weight: 800;
    font-size: 6.4rem;
    line-height: 6rem;
  }
  &--md {
    font-family: $widebook;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 4.5rem;
  }
  &--sm {
    font-family: $widenormal;
    font-size: 3.2rem;
    line-height: 3rem;
  }
  &--xs {
    font-family: $wide;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  // end sizes

  // colors
  &--grey {
    color: $dp-grey;
  }
  &--darkgrey {
    color: $dp-darkgrey;
  }
  &--blue {
    color: $dp-blue;
  }
  // end colors
}
// end fonts

// lists
.dp-list {
  list-style: none;
  padding: 0;
  li {
    padding: 0;
  }
  &--horizontal {
    display: flex;
  }
}
// end lists

// buttons
.dp-btn--scroll {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 100%;
  left: 50%;
  margin-top: -120px;
  margin-left: -30px;
  z-index: 20;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  cursor: pointer;
  &--pulse {
    z-index: 0;
  }
}
.dp-btn--close {
  width: 25px;
  height: 25px;
  opacity: 0.8;
  z-index: 250;
  cursor: pointer;
}
.dp-btn--menu {
  width: 32px;
  height: 32px;
  z-index: 300;
  cursor: pointer;
}
// end buttons

// icons
svg {
  width: 100%;
  height: 100%;
}
.dp-svg-blue {
  fill: $dp-blue;
}
.dp-svg-grey {
  fill: $dp-grey;
}
.dp-svg-darkgrey {
  fill: $dp-darkgrey;
}
.dp-svg-white {
  fill: $dp-white;
}
// end icons

// carousel
.dp-carousel {
  position: relative;
  .carousel-nav {
    position: absolute;
    width: 15rem;
    left: 50%;
    top: 100%;
    margin-left: -7.5rem;
    margin-top: -22rem;
    display: flex;
    z-index: 200;
    cursor: pointer;
    svg {
      transition: all 0.3s ease-out;
      width: 2.5rem;
      height: auto;
      margin: auto;
    }
  }
  .carousel-wrapper {
    display: flex;
    width: 500%;
    transform: translateX(0vw);
    transition: all 0.3s ease-out;
    .carousel-el {
      width: 100%;
      // height: 500px;
      .el-img {
        height: 250px;
        overflow: hidden;
        img {
          width: auto;
          height: 100%;
          opacity: 0.5;
          transition: all 0.5s ease-out;
        }
      }
      .el-data {
        width: 90%;
        margin: auto;
        padding: 7rem 2rem 0 2rem;
        font-family: $widebook;
        opacity: 0;
        transition: all 0.5s ease-out;
        li {
          width: 100%;
          background-color: $dp-blue;
          font-weight: 600;
          color: $dp-white;
        }
        .value {
          color: $dp-darkgrey;
          background-color: $dp-white;
          font-weight: 100;
        }
      }
    }
    .focus {
      .el-img {
        img {
          opacity: 1;
        }
      }
      .el-data {
        opacity: 1;
      }
    }
  }
}
// end carousel
