// font face
$wide: 'Novecento sans wide';
$widebook: 'Novecento sans wide Book';
$widenormal: 'Novecento sans wide Normal';
$opensans: 'Open Sans';
// end font face

// colors
$dp-grey: #3d3d3d;
$dp-darkgrey: #252525;
$dp-blue: #169dd9;
$dp-white: #fff;
$dp-white--opaque: rgba(255,255,255,0.9);
// end colors

// grid
$tablet: 'min-width: 768px';
$desktop: 'min-width: 992px';
$largeDesktop: 'min-width: 1400px';
// end grid

// operational css classes
.stopAnimation {
  animation: none !important;
}
