@media screen and ($largeDesktop) {
  .main-header {
    &--offer {
      h1 {
        margin-top: 40vh;
      }
    }
    &--single {
      h1 {
        margin-top: 35vh;
      }
    }
    &--contact {
      h1 {
        margin-top: 46vh;
      }
    }
    &--about {
      h1 {
        margin-top: 40vh;
      }
    }
  }
  .dp-single {
    position: relative;
    .single-content {
      .card-gallery-wrapper {
        .card-gallery {
          .gallery-element {
            width: 33%;
            height: 11rem;
            margin-bottom: 1rem;
            img {
              margin-top: -10%;
              height: auto;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .dp-offer {
    .offer-content {
      .dp-card-wrapper {
        position: relative;
        .dp-card {
          padding: 0;
          height: 500px;
          margin: 5rem 0 0 0;
          &--element {
            height: auto !important;
            box-shadow: none;
            margin: 0;
          }
          .card-image {
            position: absolute;
            top: 5rem;
            left: -41vw;
            height: inherit;
            width: 40vw;
            overflow: hidden;
            img {
              margin: 0;
              height: 500px;
              width: auto;
            }
          }
          .card-details {
            ul {
              padding: 0.3rem 0;
              li {
                padding: 0.2rem 0;
                font-size: 1rem;
                .key {
                  width: 12rem;
                  padding: 0.2rem 0.5rem 0.2rem 0;
                }
              }
            }
          }
        }
      }
    }
    .offer-nav {
      .nav-btn {
        &--left {
          left: 16rem;
        }
        &--right {
          left: 100%;
          margin-left: -18rem;
        }
      }
    }
  }

  #map {
    width: 100%;
    margin: 0;
  }

}
