// set font size to default 1rem = 10px
html {
  font-size: 62.5%;
}
// end set font size

.nav-open {
  position: fixed;
  top: 8px;
  left: 9px;
}
.nav-close {
  position: fixed;
  top: 13px;
  left: 13px;
  svg {
    transform: scale(0);
  }
}
.dp-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 200;
  color: $dp-white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
  transition: all 0.4s ease-in;
  opacity: 0;
  pointer-events: none;
  .gutter {
    background-color: $dp-darkgrey;
    .nav-logo {
      padding: 17px 0 0 55px;
    }
    &--top {
      height: 50px;
      margin-bottom: 2px;
      display: flex;
    }
    &--bottom {
      height: 100%;
      margin-top: 2px;
      .dp-logo {
        display: none;
      }
    }
  }
  ul {
    margin: 0;
    .nav-el {
      height: 50px;
      margin: 2px 0;
      background-color: $dp-darkgrey;
      line-height: 4rem;
      transition: opacity 0.3s ease-out;
    }
    .nav-el:hover {
      opacity: 0.3;
    }
  }
}

.dp-header {
  position: relative;
  height: 100vh;
}

.main-header {
  height: 100%;
  background-image: url("../images/background-min.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    margin-top: -0.5rem;
  }
  &--offer {
    background-image: url("../images/offer_bg_big.jpg");
    h1 {
      margin-top: 39vh;
    }
    p {
      margin-top: 1rem;
    }
  }
  &--single {
    background-image: url("../images/single_bg.jpg");
    h1 {
      margin-top: 41vh;
    }
    p {
      margin-top: 1rem;
    }
  }
  &--contact {
    background-position: 30% center;
    background-image: url("../images/contact_bg.jpg");
    .col-xs-4 {
      padding: 0;
    }
    .col-xs-3 {
      padding: 0;
    }
    h1 {
      margin-top: 59vh;
      padding-bottom: 0.5rem;
      // border-bottom: 0.2rem solid $dp-white;
    }
    .contact-bubbles {
      .bubble {
        margin-top: 5rem;
        .dp-btn {
          width: 50px;
          margin: auto;
          &--phone {
            display: none;
          }
          &--envelop {
            display: none;
          }
        }
        .bubble-caption {
          display: none;
        }
      }
    }
  }
  &--about {
    background-image: url('../images/about_bg.jpg');
    h1 {
      margin-top: 39vh;
    }
    p {
      margin-top: 1rem;
    }
  }
}
.container-fluid {
  .col-xs-12 {
    padding: 0;
  }
}
.dp-latest {
  // min-height: 100vh;
  .latest-header {
    padding-top: 5rem;
    h2 {
      font-weight: 600;
      width: 90%;
      margin: auto;
      padding-bottom: 2rem;
    }
  }
  .latest-gallery {
    padding: 4rem 0 4rem 0;
    overflow: hidden;
  }
}

.dp-offer {
  padding-top: 5rem;
  min-height: 100vh;
  .offer-content {
    .col-xs-12 {
      padding: 0;
    }
    .dp-card-wrapper {
      height: 100%;
      .dp-card {
        padding: 3rem 0;
        width: 100%;
        // height: 600px;
        &--element {
          margin: 0 3.5rem;
          margin-bottom: 1rem;
          padding: 0;
          background-color: $dp-white;
        }
        .card-head {
          background-color: $dp-darkgrey;
          height: 6rem;
          padding: 0.5rem 1rem 0 1rem;
        }
        .card-image {
          // background-color: $dp-darkgrey;
          height: 13rem;
          overflow: hidden;
          img {
            margin-top: -10%;
            height: auto;
            width: 100%;
          }
        }
        .card-details {
          background-color: $dp-darkgrey;
          height: 22rem;
          padding: 1rem;
          display: flex;
          ul {
            padding-top: 1rem;
            li {
              padding-bottom: 0.5rem;
              display: flex;
              .key {
                width: 12rem;
                text-align: right;
                padding: 0.2rem 0.5rem 0.2rem 0;
                background-color: $dp-blue;
                font-weight: 400;
                color: $dp-white;
              }
              .value {
                width: 100%;
                padding-left: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
  .offer-nav {
    margin-top: 5rem;
    height: 5rem;
    width: 100%;
    .nav-btn {
      position: absolute;
      top: -0.3rem;
      svg {
        width: 2rem;
        height: 2rem;
      }
      &--left {
        left: 1rem;
      }
      &--right {
        left: 100%;
        margin-left: -3rem;
      }
    }
    .numbers {
      width: 10rem;
      display: flex;
      margin: auto;
      li {
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.dp-single {
  padding-top: 5rem;
  min-height: 100rem;
  .single-content {
    .col-xs-12 {
      padding: 0;
    }
    .dp-card-wrapper {
      height: 100%;
      .dp-card {
        padding: 3rem 0;
        width: 100%;
        // height: 600px;
        &--element {
          margin: 0 2.5rem;
          // margin-bottom: 1rem;
          padding: 0;
          background-color: $dp-white;
        }
        .card-head {
          background-color: $dp-darkgrey;
          // height: 6rem;
          padding: 0.5rem 1rem 0 1rem;
        }
        .card-details {
          background-color: $dp-darkgrey;
          height: 30rem;
          padding: 1rem;
          display: flex;
          ul {
            padding-top: 1rem;
            li {
              padding-bottom: 0.5rem;
              display: flex;
              .key {
                width: 12rem;
                text-align: right;
                padding: 0.2rem 0.5rem 0.2rem 0;
                background-color: $dp-blue;
                font-weight: 400;
                color: $dp-white;
              }
              .value {
                width: 100%;
                padding-left: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
  .card-gallery-wrapper {
    position: relative;
    .card-gallery {
      margin-top: 4rem;
      margin-bottom: 5rem;
      overflow: hidden;
      .gallery-element {
        width: 50%;
        float: left;
        overflow: hidden;
        img {
          padding: 2%;
          margin-top: -10%;
          height: auto;
          width: 100%;
        }
      }
    }
  }
  .card-description {
    margin-bottom: 2rem;
    h2 {
      margin-bottom: 0.8rem;
    }
    .para {
      margin: 0.3rem 0;
      p {
        font-size: 1rem;
        line-height: 1.2rem;
        margin-bottom: 0.8rem;
      }
    }
  }
  .card-info {
    margin-top: 4rem;
    margin-bottom: 1rem;
    h2 {
      margin-bottom: 0.8rem;
    }
    .para {
      margin: 0.3rem 0;
      p {
        font-size: 1rem;
        line-height: 1.2rem;
        margin-bottom: 0.8rem;
      }
    }
  }
}

.dp-contact {
  padding-top: 10rem;
  padding-bottom: 10rem;
  .contact-content {
    .contact-info {
      li {
        position: relative;
        padding: 3rem 0 0 4rem;
        svg {
          width: 2rem;
          height: 2rem;
          position: absolute;
          top: 3rem;
          left: 0;
        }
      }
    }
    .contact-map {
      margin-top: 10rem;
      height: 250px;
    }
  }
}

#map {
  width: 100%;
  height: 100%;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.dp-about {
  padding-top: 10rem;
  padding-bottom: 10rem;
  .about-contact {
    .contact-info {
      display: none;
      li {
        position: relative;
        padding: 3rem 0 0 4rem;
        svg {
          width: 2rem;
          height: 2rem;
          position: absolute;
          top: 3rem;
          left: 0;
        }
      }
    }
    .about-content {
      .picture {
        width: 150px;
        height: 150px;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
        img {
          width: 100%;
          height: auto;
        }
      }
      .text {
        padding: 10rem 1rem 0 1rem;
        p {
          font-weight: 400;
        }
      }
    }
  }
}

.dp-sidebar {
  display: none;
}

.dp-footer {
  position: relative;
  margin-top: 100px;
  width: 100%;
  background-color: $dp-darkgrey;
  .container {
    padding: 15px;
    .row {
      margin: 0;
      .col-xs-12, .col-md-6 {
        padding: 0;
      }
    }
  }
  .dp-logo {
    position: absolute;
    left: 50%;
    &--medium {
      margin-left: -140px;
      top: -40px;
    }
    &--big {
      display: none;
    }
  }
}
