@media screen and ($tablet) {
  // set font size to default 1rem = 10px
  html {
    font-size: 110%;
  }
  // end set font size

  .main-header {
    background-size: auto 100%;
    &--offer {
      h1 {
        margin-top: 46.5vh;
      }
    }
  }

  .dp-nav {
    width: 300px;
    .gutter {
      .nav-logo {
        padding: 17px 0 0 155px;
      }
    }
    ul {
      .nav-el {
        height: 70px;
      }
    }
  }

  .dp-contact {
    .contact-content {
      .contact-map {
        height: 500px;
      }
    }
  }

  .dp-footer {
    margin-top: 150px;
    .dp-logo {
      &--medium {
        display: none;
      }
      &--big {
        margin-left: -280px;
        top: -79px;
        display: block;
      }
    }
  }


}
